@import "tailwindcss";
/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
@layer components {
  .btn-primary {
    @apply bg-gradient-to-r from-[#1B72E8] to-[#4831C7] py-3.5 px-8 rounded-[30px] text-white p-3 font-semibold hover:bg-green-700;
  }

  .card {
    @apply bg-white shadow-md rounded-xl p-6;
  }

  .section {
    @apply max-w-6xl mx-auto px-4 py-12;
  }
}
.img{
    object-fit:cover;
}
body{
  max-width:1200px;
  margin:auto;
}
.sora{
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
  font-variation-settings:
    "wdth" 200;
}